<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,55}</string>
                <key>spriteSourceSize</key>
                <string>{28,55}</string>
                <key>textureRect</key>
                <string>{{704,144},{28,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrows.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,82}</string>
                <key>spriteSourceSize</key>
                <string>{32,82}</string>
                <key>textureRect</key>
                <string>{{327,202},{32,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,36}</string>
                <key>spriteSourceSize</key>
                <string>{41,36}</string>
                <key>textureRect</key>
                <string>{{330,20},{41,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{384,202},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockCliff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{525,202},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockCliffCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{140,91}</string>
                <key>textureRect</key>
                <string>{{666,202},{140,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockCornerLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{140,91}</string>
                <key>textureRect</key>
                <string>{{0,293},{140,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockCornerSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{140,293},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockCurve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,91}</string>
                <key>spriteSourceSize</key>
                <string>{185,91}</string>
                <key>textureRect</key>
                <string>{{281,293},{185,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockCurveLow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,36}</string>
                <key>spriteSourceSize</key>
                <string>{161,36}</string>
                <key>textureRect</key>
                <string>{{371,20},{161,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockDirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,91}</string>
                <key>spriteSourceSize</key>
                <string>{129,91}</string>
                <key>textureRect</key>
                <string>{{466,293},{129,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockDirtHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,46}</string>
                <key>spriteSourceSize</key>
                <string>{129,46}</string>
                <key>textureRect</key>
                <string>{{114,98},{129,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockDirtRamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,91}</string>
                <key>spriteSourceSize</key>
                <string>{128,91}</string>
                <key>textureRect</key>
                <string>{{595,293},{128,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockDirtRampHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,46}</string>
                <key>textureRect</key>
                <string>{{243,98},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,46}</string>
                <key>spriteSourceSize</key>
                <string>{118,46}</string>
                <key>textureRect</key>
                <string>{{371,98},{118,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,46}</string>
                <key>spriteSourceSize</key>
                <string>{141,46}</string>
                <key>textureRect</key>
                <string>{{489,98},{141,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockHexagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,91}</string>
                <key>spriteSourceSize</key>
                <string>{119,91}</string>
                <key>textureRect</key>
                <string>{{723,293},{119,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockHexagonLow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,39}</string>
                <key>spriteSourceSize</key>
                <string>{97,39}</string>
                <key>textureRect</key>
                <string>{{595,56},{97,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{0,384},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockMoving.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,23}</string>
                <key>spriteSourceSize</key>
                <string>{121,23}</string>
                <key>textureRect</key>
                <string>{{0,20},{121,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockMovingLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,46}</string>
                <key>spriteSourceSize</key>
                <string>{121,46}</string>
                <key>textureRect</key>
                <string>{{630,98},{121,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockMovingRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,46}</string>
                <key>spriteSourceSize</key>
                <string>{121,46}</string>
                <key>textureRect</key>
                <string>{{0,144},{121,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockQuarter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{141,384},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSlope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,112}</string>
                <key>spriteSourceSize</key>
                <string>{141,112}</string>
                <key>textureRect</key>
                <string>{{141,566},{141,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSlopeHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,67}</string>
                <key>spriteSourceSize</key>
                <string>{141,67}</string>
                <key>textureRect</key>
                <string>{{141,202},{141,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{218,384},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowCliff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{359,384},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowCliffCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{140,91}</string>
                <key>textureRect</key>
                <string>{{500,384},{140,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowCornerLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,91}</string>
                <key>spriteSourceSize</key>
                <string>{140,91}</string>
                <key>textureRect</key>
                <string>{{640,384},{140,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowCornerSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{0,475},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowCurve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,91}</string>
                <key>spriteSourceSize</key>
                <string>{185,91}</string>
                <key>textureRect</key>
                <string>{{141,475},{185,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowCurveLow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,36}</string>
                <key>spriteSourceSize</key>
                <string>{161,36}</string>
                <key>textureRect</key>
                <string>{{532,20},{161,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowEnd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,46}</string>
                <key>spriteSourceSize</key>
                <string>{115,46}</string>
                <key>textureRect</key>
                <string>{{121,144},{115,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,46}</string>
                <key>spriteSourceSize</key>
                <string>{141,46}</string>
                <key>textureRect</key>
                <string>{{236,144},{141,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowHexagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,91}</string>
                <key>textureRect</key>
                <string>{{326,475},{115,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowHexagonLow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,39}</string>
                <key>spriteSourceSize</key>
                <string>{97,39}</string>
                <key>textureRect</key>
                <string>{{692,56},{97,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,91}</string>
                <key>spriteSourceSize</key>
                <string>{141,91}</string>
                <key>textureRect</key>
                <string>{{441,475},{141,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowQuarter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{582,475},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowSlope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,109}</string>
                <key>spriteSourceSize</key>
                <string>{141,109}</string>
                <key>textureRect</key>
                <string>{{0,566},{141,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blockSnowSlopeHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,64}</string>
                <key>spriteSourceSize</key>
                <string>{141,64}</string>
                <key>textureRect</key>
                <string>{{0,202},{141,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,36}</string>
                <key>spriteSourceSize</key>
                <string>{121,36}</string>
                <key>textureRect</key>
                <string>{{693,20},{121,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bridgeHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,36}</string>
                <key>spriteSourceSize</key>
                <string>{82,36}</string>
                <key>textureRect</key>
                <string>{{0,56},{82,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bridgeRamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,43}</string>
                <key>spriteSourceSize</key>
                <string>{114,43}</string>
                <key>textureRect</key>
                <string>{{0,98},{114,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonRound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,13}</string>
                <key>spriteSourceSize</key>
                <string>{53,13}</string>
                <key>textureRect</key>
                <string>{{178,0},{53,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonSquare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,14}</string>
                <key>spriteSourceSize</key>
                <string>{71,14}</string>
                <key>textureRect</key>
                <string>{{231,0},{71,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,46}</string>
                <key>textureRect</key>
                <string>{{377,144},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinBronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{82,56},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{109,56},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinSilver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{136,56},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,46}</string>
                <key>textureRect</key>
                <string>{{442,144},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crateItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{507,144},{59,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crateItemStrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{566,144},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crateStrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{635,144},{69,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doorClosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,91}</string>
                <key>spriteSourceSize</key>
                <string>{49,91}</string>
                <key>textureRect</key>
                <string>{{659,475},{49,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doorOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,91}</string>
                <key>spriteSourceSize</key>
                <string>{49,91}</string>
                <key>textureRect</key>
                <string>{{708,475},{49,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,36}</string>
                <key>spriteSourceSize</key>
                <string>{62,36}</string>
                <key>textureRect</key>
                <string>{{163,56},{62,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceBroken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,36}</string>
                <key>spriteSourceSize</key>
                <string>{63,36}</string>
                <key>textureRect</key>
                <string>{{225,56},{63,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,36}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{288,56},{124,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceCornerCurved.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,36}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{412,56},{124,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceLow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,18}</string>
                <key>spriteSourceSize</key>
                <string>{58,18}</string>
                <key>textureRect</key>
                <string>{{352,0},{58,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceLowBroken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,18}</string>
                <key>spriteSourceSize</key>
                <string>{58,18}</string>
                <key>textureRect</key>
                <string>{{410,0},{58,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceLowCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,18}</string>
                <key>spriteSourceSize</key>
                <string>{115,18}</string>
                <key>textureRect</key>
                <string>{{468,0},{115,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenceLowCornerCurved.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,18}</string>
                <key>spriteSourceSize</key>
                <string>{115,18}</string>
                <key>textureRect</key>
                <string>{{583,0},{115,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,82}</string>
                <key>spriteSourceSize</key>
                <string>{25,82}</string>
                <key>textureRect</key>
                <string>{{359,202},{25,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flowers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{789,56},{41,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flowersLow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,9}</string>
                <key>spriteSourceSize</key>
                <string>{57,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{305,20},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jewel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{276,20},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,20}</string>
                <key>spriteSourceSize</key>
                <string>{27,20}</string>
                <key>textureRect</key>
                <string>{{698,0},{27,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,91}</string>
                <key>spriteSourceSize</key>
                <string>{27,91}</string>
                <key>textureRect</key>
                <string>{{757,475},{27,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ladderBroken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,91}</string>
                <key>spriteSourceSize</key>
                <string>{27,91}</string>
                <key>textureRect</key>
                <string>{{784,475},{27,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ladderLong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,183}</string>
                <key>spriteSourceSize</key>
                <string>{27,183}</string>
                <key>textureRect</key>
                <string>{{702,566},{27,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{762,144},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushrooms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,27}</string>
                <key>spriteSourceSize</key>
                <string>{52,27}</string>
                <key>textureRect</key>
                <string>{{224,20},{52,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,15}</string>
                <key>spriteSourceSize</key>
                <string>{50,15}</string>
                <key>textureRect</key>
                <string>{{302,0},{50,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,9}</string>
                <key>spriteSourceSize</key>
                <string>{121,9}</string>
                <key>textureRect</key>
                <string>{{57,0},{121,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,36}</string>
                <key>textureRect</key>
                <string>{{536,56},{59,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>saw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,72}</string>
                <key>spriteSourceSize</key>
                <string>{45,72}</string>
                <key>textureRect</key>
                <string>{{282,202},{45,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,55}</string>
                <key>spriteSourceSize</key>
                <string>{30,55}</string>
                <key>textureRect</key>
                <string>{{732,144},{30,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,23}</string>
                <key>spriteSourceSize</key>
                <string>{103,23}</string>
                <key>textureRect</key>
                <string>{{121,20},{103,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,177}</string>
                <key>spriteSourceSize</key>
                <string>{125,177}</string>
                <key>textureRect</key>
                <string>{{282,566},{125,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treePine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,177}</string>
                <key>spriteSourceSize</key>
                <string>{85,177}</string>
                <key>textureRect</key>
                <string>{{407,566},{85,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treePineSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,177}</string>
                <key>spriteSourceSize</key>
                <string>{85,177}</string>
                <key>textureRect</key>
                <string>{{492,566},{85,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treeSnow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,177}</string>
                <key>spriteSourceSize</key>
                <string>{125,177}</string>
                <key>textureRect</key>
                <string>{{577,566},{125,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TerrainItemSnaps.png</string>
            <key>size</key>
            <string>{842,749}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:251e36f323fdd1b7b6296b279fd90bcc:04e112146cb50ada67f4d6a312f9824d:0733271eb12ae990477328174d6e0899$</string>
            <key>textureFileName</key>
            <string>TerrainItemSnaps.png</string>
        </dict>
    </dict>
</plist>
